extends layout

block content
  .vertical-center
    .container
      .jumbotron.welcome
        h1.fa.fa-usd Welcome to online exchange
        .buttons
          a(href="/login" class="btn btn-primary btn-lg").fa.fa-user &nbsp;Login
          a(href="/register" class="btn btn-primary btn-lg").fa.fa-user &nbsp;Register
