extends layout

block scripts
  script(src='/javascripts/validators.js')
block content
  .vertical-center
    .container
      .jumbotron.sign-wrap
        #errorBox.alert.alert-danger(hidden)
        if (message.length > 0)
          .alert.alert-danger= message

        form(action="/login"
        method="post")
          .form-group
            label Email
            input(autofocus
            class="form-control"
            id="email"
            onchange="checkEmail();"
            name="email"
            placeholder="Email address"
            required
            type="email")
          .form-group
            label Password
            input(autocomplete="off"
            class="form-control"
            name="password"
            placeholder="Your password"
            required
            type="password")
          button(class="btn btn-primary btn-lg btn-block"
          id="submitButton"
          type="submit") LOGIN
        .h-line
        p
          | Don't have an account?
          br
          a(href="/register") Register now!
