extends layout
block scripts
  script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
  script(src="/javascripts/bin/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/main.js")
block content
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        .navbar-brand Exchange
      ul.nav.navbar-nav.navbar-right
        //li.active
        //  a Hello somename
        li
          a(href='#').fa.fa-cog
        li
          a(href="/logout").fa.fa-sign-out
  br
  .container
    .row
      #currencies.col-sm-12.col-md-6
        h5 Currencies
        table.table.table-inverse.table-bordered.table-striped.table-responsive
          thead
            tr
              td Currency
              td Unit
              td Value
              td Actions
          tbody
            each item in items
              tr
                td #{item.code}
                td(id=item.code + "unit") #{item.unit}
                td(id=item.code + "sellPrice") #{item.sellPrice}
                td
                  button(class="btn btn-default"
                  data-toggle="modal"
                  data-target="#tradeModal"
                  onclick="prepareTrade(this.value, 'buy');"
                  value=item.code) Buy
      #mywallet.col-sm12.col-md-6
        h5 My Wallet
        table.table.table-inverse.table-bordered.table-striped.table-responsive
          thead
            tr
              td Currency
              td Unit Price
              td Amount
              td Value
              td Actions
          tbody
            each item in items
              tr
                td #{item.code}
                td(id=item.code + "purchasePrice") #{item.purchasePrice}
                td(id=item.code + "amount" value=item.amount) #{item.amount}
                td(id=item.code + "value") #{item.value}
                td
                  button(class="btn btn-default"
                  data-toggle="modal"
                  data-target="#tradeModal"
                  onclick="prepareTrade(this.value, 'sell');"
                  value=item.code) Sell
         span.label.label-default#balance Available PLN: #{balance}
  #tradeModal.modal
    .modal-dialog(role="document")
      .modal-content
        .modal-body
          .form-group
            p(id="tradeLabel")
            input(autofocus
            class="form-control"
            id="tradeInput"
            type="number")
            #predictedPrice
            #priceForUnit
        .modal-footer
          button.btn.btn-default(data-dismiss="modal"
          onclick="clearAll();") Close
          button(class="btn btn-warning"
          id="panelButton") Confirm
  #confirmationModal.modal
    .modal-dialog(role="document")
      .modal-content
        .modal-body
          .list-group
            p.list-group-item.active Please confirm the transaction:
            p#confirmAmount.list-group-item Amount:
            p#confirmPrice.list-group-item Price:
            p#newBalance.list-group-item New Balance:
        .modal-footer
          button.btn.btn-default(data-dismiss="modal") Close
          button(class="btn btn-warning"
          id="confirmationButton") Confirm
    footer
      p
        #publicationDate
