extends layout

block scripts
  script(src='/javascripts/validators.js')
block content
  .vertical-center
    .container
      .jumbotron.sign-wrap
        #errorBox.alert.alert-danger(hidden)
        if (message.length > 0)
          .alert.alert-danger= message

        form(action="/register"
        method="post")
          .form-group
            label Email
            input(autofocus
            class="form-control"
            id="email"
            onchange="checkEmail();"
            name="email"
            placeholder="Email address"
            required
            type="email")
          .form-group
            label Password
            input(autocomplete="off"
            class="form-control"
            id="password"
            name="password"
            onchange="checkPass();"
            placeholder="Your password"
            required
            type="password")
          .form-group
            label Confirm password
            input(autocomplete="off"
            class="form-control"
            id="password2"
            name="password2"
            onchange="checkPass2();"
            placeholder="Confirm password"
            required
            type="password")
          button(class="btn btn-primary btn-lg btn-block"
          id="submitButton"
          type="submit") REGISTER
          .h-line
          p
            | Already have an account?
            | 
            a(href="/login") Login here!
