body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*padding: 50px;*/
  /*padding-top:80px;*/
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}

input {
  margin: 3px;
}

.btn-warning {
  padding: 9px;
}

#box {
  margin: auto;
  text-align: center;
  width: 250px;
}

#errorbox, #confirmationError {
  background-color: #ffc9c4;
  border-color: #ffbac5;
  color: #a93c3a;
  align-content: space-between;
}

#confirmationError {
  display: none;
}

.form-horizontal {
  align-self: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-top: 10px;

}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 4px 0px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align:left;
  padding-left: 5px;
}

.button {
  background-color: #00B7FF; /* Blue */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
